{{template "base" .}}
{{define "title"}}new vendor{{end}}
{{define "main"}}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Vendors</h1>
            <p class="col-md-8 fs-4">Add a new vendor. A vendor is a manufacturer of a network devices. Examples of widely known vendors are Juniper, Cisco, Nokia, Palo Alto, Fortigate to name a few. At the moment, we only require a vendor name.</p>
            {{/* <button class="btn btn-primary btn-lg" type="button">Docs</button> */}}
        </div>
    </div>
    <form class="text-center border border-light p-5" action="/vendors/add" method="POST">
        <div class="mb-3">
            <label for="vendor" class="form-label">Vendor</label>
            <input type="text" name="vendor" class="form-control" id="vendor">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{{end}}
